@font-face {
    font-family: 'Roboto';
    src: url('/font/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

* {
    font-size: 13px !important;


}
.custom-section header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(56, 189, 248) !important;
    color: white !important;
}
.custom-section header div div h3 {
    color: white !important;
}


.fi-sidebar-group-label {
    background-color: rgb(56, 189, 248) !important;
    padding: 6px;
    color: white !important;
    border-radius: 10px;
    margin: 0;
}

div section.auto-cols-fr {
    row-gap: 0!important;
    grid: none!important;
}
/*.fi-sidebar-group-collapse-button{*/
/*    background-color: #1cc6b9; !* Ø±Ù†Ú¯ Ø¢Ø¨ÛŒ Ø¨Ø±Ø§ÛŒ Ø¨Ø®Ø´ HR *!*/
/*    color: white;*/

/*}*/
